---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web&subset=latin-ext');

*{
  margin:0;
  padding:0
}
body{
  background-color:#323232;
  background-image:url('/assets/pictures/background.png')!important;
  background-repeat:no-repeat!important;
  background-position:50% 37%;
  background-attachment: fixed;
  color:#a5a5a5!important;
  font-family: "Titillium Web", sans-serif;
  font-size:13px;
}
a {
  color: #a5a5a5;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.container{
  margin:auto;
  width: 904px;
}
.top-line{
  background-image:url('/assets/pictures/top-line.jpg');
  background-repeat: repeat-x;
  height:7px;
  margin-bottom: 50px;
}
header{
  background-image:url('/assets/pictures/header.png');
  background-repeat:no-repeat;
  height: 144px;
}
.navigation {
  background-image: url('/assets/pictures/navigation.png');
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 19px;
  padding-right: 20px;
  height: 23px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  > {
    ul {
      list-style-type: none;
      text-transform: uppercase;
      line-height: 2.5;
      > li {
        float: left;
        border-right: 2px solid #606060;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        &:last-child {
          border: 0px;
        }
        > a {
          color: #a5a5a5;
          text-decoration: none;
          border: 0px;
        }
      }
    }
    a.rss2 {
      border: 0px;
      float: right;
      margin-top: 10px;
      margin-left: 5px;
    }
  }
}
footer{
  background-image:url('/assets/pictures/footer.png');
  height:29px;
  padding: 7px 10px 18px 15px;
  margin-bottom: 25px;
}
.content-header{
  background-image:url('/assets/pictures/content-header.png');
  background-repeat:no-repeat;
  height: 10px;
}
.content-wbg{
  background-image:url('/assets/pictures/content-bg.png');
  background-repeat:repeat-y;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  > ul {
  margin-left: 15px;
  }
  > p > img {
  width: 100%;
  }
  > h2 {
  line-height: 60px;
  }
}
.content-footer{
  background-image:url('/assets/pictures/content-footer.png');
  background-repeat:no-repeat;
  height: 10px;
}
.content-box{
  margin-top: 15px;
  margin-bottom:15px;
}
.logo-img {
  float: left;
  margin-top: 27.5px;
  margin-left: 25px;
  margin-right: 25px;
}

.logo-text {
  float: left;
  margin-top: 40px;
  > h1 > a {
    color: #a5a5a5;
    text-decoration: none;
    border: 0px;
  }
}
.sidebar-header{
  background-image:url('/assets/pictures/sidebar-header.png');
  background-repeat:no-repeat;
  height: 10px;
}
.sidebar-wbg{
  background-image:url('/assets/pictures/sidebar-bg.png');
  background-repeat:repeat-y;
  padding-left: 15px;
  padding-right: 15px;
  > a > img {
  width: 100%;
  }
}
.sidebar-footer{
  background-image:url('/assets/pictures/sidebar-footer.png');
  background-repeat:no-repeat;
  height: 10px;
}
.col-content{
  float:left;
  width: 684px;
  margin-right: 15px;
}
.clear{
  clear:left;
}
.col-sidebar{
  float:left;
  width: 204px;
}
.sidebar-box{
  margin-top: 15px;
  margin-bottom: 15px;
}
.info {
  float:left;
  width: 50px;
  line-height: 20px;
  text-align: right;
  margin-right: 15px;
  margin-top: 10px;
  > .day {
  font-size: 19px;
  font-weight: 900;
  }
  > .month {
  font-size: 13px;
  }
  > .year {
  font-weight: 700;
  }
}
$spacing-unit:     0px;
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@import "syntax-highlighting";