---
layout: default
---
{% for post in paginator.posts %}
	<div class="post">
		<h2>
			<a href="{{ post.url | prepend: site.baseurl }}" title="Lasīt '{{ post.title }}'">{{ post.title }}</a>
		</h2>
		<span class="post-info">
			Publicēts {{ post.date | date: "%Y" }}. gada {{ post.date | date: "%-d" }}. 
			{% assign m = post.date | date: "%-m" %}
			{% case m %}
				{% when '1' %}janvārī
				{% when '2' %}februārī
				{% when '3' %}martā
				{% when '4' %}aprīlī
				{% when '5' %}maijā
				{% when '6' %}jūnijā
				{% when '7' %}jūlijā
				{% when '8' %}augustā
				{% when '9' %}septembrī
				{% when '10' %}oktobrī
				{% when '11' %}novembrī
				{% when '12' %}decembrī
			{% endcase %}
		</span>
		{{ post.excerpt }}
		{% if post.excerpt != post.content %}
			<a href="{{ post.url | prepend: site.baseurl }}" title="Lasīt tālāk">Lasīt tālāk ...</a>
		{% endif %}
	</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;</a>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<span>{{ page }}</span>
			{% elsif page == 1 %}
				<a href="{{ '/' | relative_url }}">{{ page }}</a>
			{% else %}
				<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		{% endfor %}
		
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&gt;</a>
		{% endif %}
	</div>
{% endif %}
