<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ "/assets/pictures/icon.png" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="alternate" type="application/atom+xml" title="News Feed (Atom)" href="/atom.xml">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114301426-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114301426-1', {
  			cookie_domain: '.{{site.domain}}',
			cookie_flags: 'SameSite=None;Secure',
		});
	</script>
	{% seo %}
</head>
