---
layout: default
---
<div class="post">
	<h2>
		<a href="{{ '/' | prepend: site.baseurl }}" title="Doties uz sākumu">
			Sākums
		</a>
		&mdash;
		{{ page.title }}
	</h2>
	<span class="post-info">
		Publicēts {{ page.date | date: "%Y" }}. gada {{ page.date | date: "%-d" }}. 
		{% assign m = page.date | date: "%-m" %}
		{% case m %}
			{% when '1' %}janvārī
			{% when '2' %}februārī
			{% when '3' %}martā
			{% when '4' %}aprīlī
			{% when '5' %}maijā
			{% when '6' %}jūnijā
			{% when '7' %}jūlijā
			{% when '8' %}augustā
			{% when '9' %}septembrī
			{% when '10' %}oktobrī
			{% when '11' %}novembrī
			{% when '12' %}decembrī
		{% endcase %}
	</span>
	{{ content }}
	<span class="post-info">
		Iepatikās izlasītais? Padalies ar draugiem - <div id="share-buttons">
		    <div class="facebook" title="Share this on Facebook" onclick="window.open('https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}', 'Share', 'width=1024,height=780,scrollbars=yes,toolbar=no');">
		    	<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/></svg>
		    </div>
		</div>
</div>
